{{ set(this, 'title', 'Личный кабинет') }}


<a href="{{ url(['masters/create'], {'alias' : post.alias}) }}">{{ post.title }}</a>
<a href="{{ url(['blog/view'], {'alias' : post.alias}) }}">{{ post.title }}</a>